<h2>Course Roster Search</h2>
<p class="lead">Search by name, e-mail, or ID #.</p>
<div class="input-group input-group-lg">
  <input type="email" class="form-control" aria-label="Text input with segmented dropdown button">
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-success">Search</button>
  </div>
</div>
<table class="table smallTable">
  <thead>
  <tr>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">E-mail</th>
    <th scope="col">ID Number</th>
    <th scope="col">Github</th>


  </tr>
  </thead>

</table>
