<h2>Course Roster Search</h2>
<p class="lead">Use the dropdown at the right to search by a specific field.</p>
<div class="input-group input-group-lg">
  <input type="email" class="form-control" aria-label="Text input with segmented dropdown button">
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-success">Search</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>



    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">E-mail</a>
      <a class="dropdown-item" href="#">Name</a>
      <a class="dropdown-item" href="#">Major</a>
    </div>
  </div>
</div>
<table class="table smallTable">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">ID</th>
    <th scope="col">Major</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">placeholder</th>
    <td>placeholder</td>
    <td>placeholder</td>
  </tr>
  <tr>
    <th scope="row">placeholder</th>
    <td>placeholder</td>
    <td>placeholder</td>
  </tr>
  <tr>
    <th scope="row">placeholder</th>
    <td>placeholder</td>
    <td>placeholder</td>
  </tr>
  <tr>
    <th scope="row">placeholder</th>
    <td>placeholder</td>
    <td>placeholder</td>
  </tr>
  </tbody>
</table>
