<div class="calDiv">
  <button (click)="toggleShow()" type="button" class="btn btn-secondary">{{(shouldShow)?"Hide":"Show"}} Calendar</button>
  <div class="positioning" style="background-color: white">
    <ng-container *ngIf="shouldShow">
      <div style="  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4)">
      <mwl-calendar-month-view
        [@.disabled]="true"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)">
      </mwl-calendar-month-view>
      </div>
    </ng-container>
  </div>
</div>



