<hr class="my-4">
<div class="lab-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>Assignments</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Homework #</th>
          <th scope="col">Assigned</th>
          <th scope="col">Due</th>
          <th scope="col">Assignment</th>
          <th scope="col">% Grade</th>
          <th scope="col">Grading Criteria</th>
          <th scope="col">Solution</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">30303R</th>
          <td>Tuesday/Thursday<br>8:00a.m.-9:20a.m.</td>
          <td>SLH 102</td>
          <td>Peija Lu</td>
        </tr>
        <tr>
          <th scope="row">29909R</th>
          <td>Tuesday/Thursday<br>9:30a.m.-10:50a.m.</td>
          <td>GFS 116</td>
          <td>Aya Shimizu</td>
        </tr>
        <tr>
          <th scope="row">30245R</th>
          <td>Tuesday/Thursday<br>11:00a.m.-12:20p.m.</td>
          <td>GFS 116</td>
          <td>Isabelle Tobolski</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="my-4">
