<hr class="my-4">
<div class="lab-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>Assignments</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Homework #</th>
          <th scope="col">Assigned Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Assignment Details</th>
          <th scope="col">Grade Weight</th>
          <th scope="col">Additional Files</th>
          <th scope="col">Solution</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="hasLoaded">
          <ng-container *ngFor="let row of assignments">    <!--Dynamically generate the rows with a for loop-->
            <tr>
              <th scope="row">{{row.number}}</th>
              <td>{{row.assignedDate}}</td>
              <td>{{row.dueDate}}</td>
              <td><a *ngIf="row.pdfLink" [href]="row.pdfLink.href">{{row.pdfLink.display}}</a></td>
              <td>{{row.gradePercent}}%</td>
              <td>
                <!--Generate a list of links for the additional files section-->
                <ng-container *ngFor="let link of row.additionalFiles">
                  <a [href]="link.href">{{link.display}}</a>
                  <br />
                </ng-container>
              </td>
              <td><a *ngIf="row.solutionLink" [href]="row.solutionLink.href">{{row.solutionLink.display}}</a></td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="my-4">
