.buttonDiv{
  width: 35%;
  margin: 0 auto;
}
.present{
  color: mediumseagreen;
}
.dropdown{
  transition: all 0.5s;
}
.dropdown span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.dropdown span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.dropdown:hover span {
  padding-right: 25px;
}
.dropdown:hover span:after {
  opacity: 1;
  right: 0;
}
.absent{
  color: red;
}

.scrollable-menu {
  height: auto;
  max-height: 50vh;
  width: 30vh !important;
  overflow-x: hidden;
}
