<div class="buttonDiv">
  <form name="classSelectForm">
  <select class="form-control" style="margin-bottom: 1vh;" id="sel1" [(ngModel)]="classSelection" name="classSelector">
    <option>T/TH 8:00 A.M.</option>
    <option>T/TH 9:30 A.M.</option>
    <option>T/TH 11:00 A.M.</option>
  </select>
  </form>
  <button (click)="getLocation()" type="button" class="btn btn-block btn-lg btn-success">Check In</button>
  <button (click)="toggleShow()" type="button" class="btn btn-block btn-lg">{{(shouldShow)?"Hide":"Show"}} Attendance History</button>
  <ng-container *ngIf="shouldShow">
      <div>
        <table id="datatable" class="table datatable">
          <thead>
          <tr>
            <th scope="col">Class #</th>
            <th scope="col">Date</th>
            <th scope="col">Attendance</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>August 17</td>
            <td class="present">Present</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>August 19</td>
            <td class="absent">Absent</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>August 24</td>
            <td class="present">Present</td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
</div>

