.wrapper {
  display: flex;
  width: 100%;
}


#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.jumbotron {
  padding: 1.5rem 2rem !important;
}

.login-info {
  font-weight: 300;
  font-size: 1.5rem;
}

.lead {
  margin-bottom: .3rem;
  font-style: italic;
}
