<hr class="my-4">

<div class="lab-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>Previous Exams</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Semester</th>
          <th scope="col">Type</th>
          <th scope="col">Exam Link</th>
          <th scope="col">Solution Link</th>

        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="hasLoaded">
          <ng-container *ngFor="let row of exams">    <!--Dynamically generate the rows with a for loop-->
            <tr>
              <td>{{row.examDate}}</td>
              <td>{{row.type}}</td>
              <td><a *ngIf="row.pdfLink" [href]="row.pdfLink.href">{{row.pdfLink.display}}</a></td>
              <td><a *ngIf="row.solution" [href]="row.solution.href">{{row.solution.display}}</a></td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
