<hr class="my-4">

<div class="lab-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>Lectures</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Semester</th>
          <th scope="col">Type</th>
          <th scope="col">Exam Link</th>
          <th scope="col">Solution Links</th>

        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="hasLoaded">
          <ng-container *ngFor="let row of exams">    <!--Dynamically generate the rows with a for loop-->
            <tr>
              <td>{{row.date}}</td>
              <td>{{row.type}}</td>
              <td><a [href]="row.pdfLink.location">{{row.pdfLink.display}}</a></td>
              <td>
                <!--Generate a list of links for the additional files section-->
                <ng-container *ngFor="let link of row.solutionLinks">
                  <a [href]="link.location">{{link.display}}</a>
                  <br />
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
