  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>CSCI201</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Navigation</p>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Syllabus</a>
      </li>
      <li>
        <a href="#">Lectures & Labs</a>
      </li>
      <li>
        <a href="#">Assignments</a>
      </li>
      <li>
        <a href="#">Previous Exams</a>
      </li>
      <li>
        <a href="#">Attendance</a>
      </li>
      <li>
        <a href="#">Course Roster</a>
      </li>
      <li>
        <a href="#">CS Department</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="download">Login</a>
      </li>
      <li>
        <img style="margin-top: 1.5vh; margin-left: .3vh; margin-right: auto;" src="assets/usc_seal.png" height="200vh" width="200vh">
      </li>

    </ul>
  </nav>
