  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>CSCI 201</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Navigation</p>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a href="http://www-scf.usc.edu/~csci201/syllabus.pdf" target="_blank">Syllabus</a>
      </li>
      <li>
        <a routerLink="/lectures-labs" routerLinkActive="active">Lectures & Labs</a>
      </li>
      <li>
        <a routerLink="/assignments" routerLinkActive="active">Assignments</a>
      </li>
      <li>
        <a routerLink="/previous-exams" routerLinkActive="active">Previous Exams</a>
      </li>
      <li>
        <a routerLink="/attendance" routerLinkActive="active">Attendance</a>
      </li>
      <li>
        <a routerLink="/course-roster" routerLinkActive="active">Course Roster</a>
      </li>
      <li>
        <a href="https://cs.usc.edu" target="_blank">CS Department</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="download">Login</a>
      </li>
      <li>
        <a href="#" class="article">Create Account</a>
      </li>
      <li>
        <img style="margin-top: 1.5vh; margin-left: .3vh; margin-right: auto;" src="assets/usc_seal.png" height="200vh" width="200vh">
      </li>

    </ul>
  </nav>
