  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img style="margin-top: 0vh; margin-left: 0vh; margin-right: auto;" src="assets/viterbi3.png" height="70vh" width="215vh">
    </div>

    <ul class="list-unstyled components">
      <p>CSCI 201</p>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a href="http://www-scf.usc.edu/~csci201/syllabus.pdf" target="_blank">Syllabus</a>
      </li>
      <li>
        <a routerLink="/lectures-labs" routerLinkActive="active">Lectures & Labs</a>
      </li>
      <li>
        <a routerLink="/assignments" routerLinkActive="active">Assignments</a>
      </li>
      <li>
        <a routerLink="/previous-exams" routerLinkActive="active">Previous Exams</a>
      </li>
      <li>
        <a routerLink="/attendance" routerLinkActive="active">Attendance</a>
      </li>
      <li>
        <a routerLink="/course-roster" routerLinkActive="active">Course Roster</a>
      </li>
      <li>
        <a href="https://cs.usc.edu" target="_blank">CS Department</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">User Profile</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <div class="dropdown show">
          <a class="download dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu">
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@usc.edu">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-outline-danger">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item whitebg" routerLink="/signup" routerLinkActive="active">Sign up</a>
          </div>
        </div>
      </li>

      <li>
        <img style="margin-top: 1.5vh; margin-left: .3vh; margin-right: auto;" src="assets/usc_seal.png" height="200vh" width="200vh">
      </li>
    </ul>
  </nav>
