<div class="size-wrapper">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img src="assets/Jeffrey-Miller-Square-Image.jpg" width="200vh" height="200vh">
      </div>
      <div class="card-block px-2">
        <h2>Professor</h2>
        <h4 class="card-text">Jeffrey Miller</h4>
        <h4 class="card-text">SAL 342</h4>
        <h4 class="card-text">213-740-7129</h4>
        <h4 class="card-text">jeffrey.miller@usc.edu</h4>
      </div>
      <div class= "card-block px-2">
        <h2 style="text-align: center">Office Hours</h2>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Tuesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Any Day</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="office">6:00a.m.-7:00a.m.</td>
            <td class="office">12:30p.m. - 1:30p.m.</td>
            <td class="office">By Appointment</td>
          </tr>
          <tr>
            <td class="office">6:00a.m.-7:00a.m.</td>
            <td class="office">1:30p.m-3:30p.m.</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<hr class="my-4">

<div class="lecture-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>Lecture Schedule</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Section #</th>
          <th scope="col">Date & Time</th>
          <th scope="col">Room</th>
          <th scope="col">Lecture Assistant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">30303R</th>
          <td>Tuesday/Thursday<br>8:00a.m.-9:20a.m.</td>
          <td>SLH 102</td>
          <td>Peija Lu</td>
        </tr>
        <tr>
          <th scope="row">29909R</th>
          <td>Tuesday/Thursday<br>9:30a.m.-10:50a.m.</td>
          <td>GFS 116</td>
          <td>Aya Shimizu</td>
        </tr>
        <tr>
          <th scope="row">30245R</th>
          <td>Tuesday/Thursday<br>11:00a.m.-12:20p.m.</td>
          <td>GFS 116</td>
          <td>Isabelle Tobolski</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="my-4">
<div class="lab-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>Lab Schedule</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Section #</th>
          <th scope="col">Date & Time</th>
          <th scope="col">Room</th>
          <th scope="col">Lab Assistant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">30237R</th>
          <td>Tuesday<br>2:00p.m.-3:50p.m.</td>
          <td>SAL 126</td>
          <td>Peija Lu<br>Emily Jin</td>
        </tr>
        <tr>
          <th scope="row">30134R</th>
          <td>Tuesday<br>4:00p.m.-5:50p.m.</td>
          <td>SAL 126</td>
          <td>Anant Chandra<br>Ziqian Gu</td>
        </tr>
        <tr>
          <th scope="row">30241R</th>
          <td>Tuesday<br>6:00p.m.-7:50p.m.</td>
          <td>SAL 109</td>
          <td>Anav Batra<br>Isabelle Tobolski</td>
        </tr>
        <tr>
          <th scope="row">30396R</th>
          <td>Tuesday<br>6:00p.m.-7:50p.m.</td>
          <td>SAL 126</td>
          <td>Judy Zhang<br>Tanay Shah</td>
        </tr>
        <tr>
          <th scope="row">30239R</th>
          <td>Wednesday<br>10:00a.m.-11:50a.m.</td>
          <td>SAL 126</td>
          <td>Aya Shimizu<br>Cindy Clarissa</td>
        </tr>
        <tr>
          <th scope="row">30238R</th>
          <td>Wednesday<br>12:00p.m.-1:50p.m.</td>
          <td>SAL 127</td>
          <td>Jae Woong Jung<br>Catherine Chung</td>
        </tr>
        <tr>
          <th scope="row">30285R</th>
          <td>Wednesday<br>4:00p.m.-5:50p.m.</td>
          <td>SAL 109</td>
          <td>Anant Chandra<br>Andrew Hutchinson</td>
        </tr>
        <tr>
          <th scope="row">29904R</th>
          <td>Wednesday<br>6:00p.m.-7:50p.m.</td>
          <td>SAL 109</td>
          <td>Anthony Martinez<br>Hrishi Vora</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="my-4">

<div class="fast-transition">
  <div class="card flex-row flex-wrap">
    <h2>Office Hours</h2>
    <hr class="my-4">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">10:00.a.m. - 12:00p.m.</th>
        <th scope="col">12:00.p.m. - 2:00p.m.</th>
        <th scope="col">2:00.p.m.- 4:00p.m.</th>
        <th scope="col">4:00.p.m. - 6:00p.m.</th>
        <th scope="col">6:00.p.m. - 8:00p.m.</th>


      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Daniel Mizrahi</td>
        <td>James Oeth</td>
        <td>James Oeth</td>
        <td>Judy Zhang</td>
        <td>Judy Zhang</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Catherine Chung</td>
        <td>Jae Woong Jung</td>
        <td>Enoch Hang</td>
        <td>Enoch Hang</td>
        <td>Peija Lu</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>Daniel Mizrahi</td>
        <td>Aya Shimizu</td>
        <td>Isabelle Tobolski</td>
        <td>Anav Batra</td>
        <td>Anant Chadra</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>Zifan Shi</td>
        <td>Zifan Shi</td>
        <td>Catherine Chung</td>
        <td>Alina Abidi</td>
        <td>Alina Abidi</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Ziqian Gu</td>
        <td>Daniel Mizrahi</td>
        <td>Daniel Mizrahi</td>
        <td>Daniel Mizrahi</td>
        <td>Daniel Mizrahi</td>
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        <td>Alina Abidi</td>
        <td></td>
        <td></td>
        <td>Anthony Martinez</td>
        <td>Anthony Martinez</td>
      </tr>
      <tr>
        <th scope="row">Sunday</th>
        <td></td>
        <td>Andrew Hutchinson</td>
        <td>Andrew Hutchinson</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class="my-4">

<div class="staff-size">
  <div class="fast-transition">
    <div class="card flex-row flex-wrap">
      <h2>All Course Staff</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Reem Alfayez</td>
          <td>alfayez@usc.edu</td>
        </tr>
        <tr>
          <td>Alina Abidi</td>
          <td>aabidi@usc.edu</td>
        </tr>
        <tr>
          <td>Anant Chandra</td>
          <td>anantcha@usc.edu</td>
        </tr>
        <tr>
          <td>Anav Batra</td>
          <td>anavbatr@usc.edu</td>
        </tr>
        <tr>
          <td>Andrew Hutchinson</td>
          <td>ajhutchi@usc.edu</td>
        </tr>
        <tr>
          <td>Anthony Martinez</td>
          <td>mart725@usc.edu</td>
        </tr>
        <tr>
          <td>Aya Shimizu</td>
          <td>ashimizu@usc.edu</td>
        </tr>
        <tr>
          <td>Catherine Chung</td>
          <td>cathercc@usc.edu</td>
        </tr>
        <tr>
          <td>Cindy Clarissa</td>
          <td>clarissa@usc.edu</td>
        </tr>
        <tr>
          <td>Daniel Mizrahi</td>
          <td>dmizrahi@usc.edu</td>
        </tr>
        <tr>
          <td>Emily Jin</td>
          <td>jin914@usc.edu</td>
        </tr>
        <tr>
          <td>Enoch Hang</td>
          <td>enochhan@usc.edu</td>
        </tr>
        <tr>
          <td>Hrishi Vora</td>
          <td>hrishivo@usc.edu</td>
        </tr>
        <tr>
          <td>Isabelle Tobolski</td>
          <td>tobolski@usc.edu</td>
        </tr>
        <tr>
          <td>Jae Woong Jung</td>
          <td>jaewoonj@usc.edu</td>
        </tr>
        <tr>
          <td>James Oeth</td>
          <td>oeth@usc.edu</td>
        </tr>
        <tr>
          <td>Jialou Wang</td>
          <td>jialouwa@usc.edu</td>
        </tr>
        <tr>
          <td>Judy Zhang</td>
          <td>qianzi@usc.edu</td>
        </tr>
        <tr>
          <td>Peija Lu</td>
          <td>peijalu@usc.edu</td>
        </tr>
        <tr>
          <td>Qing Ye</td>
          <td>yeqing@usc.edu</td>
        </tr>
        <tr>
          <td>Tanay Shah</td>
          <td>tanayssh@usc.edu</td>
        </tr>
        <tr>
          <td>William Wang</td>
          <td>wang975Wusc.edu</td>
        </tr>
        <tr>
          <td>Zifay Shi</td>
          <td>zifanshi@usc.edu</td>
        </tr>
        <tr>
          <td>Ziqian Gu</td>
          <td>ziqiangu@usc.edu</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
